@model IList<UserApp.Models.ProductViewModel>

@{
    ViewBag.Title = "Products";
}

<h2>CardView</h2>

<p> 
@*Html.ActionLink("Create New", "Create")*@
<a href='@Url.Action("Create", "Home")' title="Create">
  <i class="fas fa-file fa-2x"></i>
</a>
   	<a href='@Url.Action("UserDashBoard", "Home")' title="List View">
	<i class="fas fa-list fa-2x"></i>
   @* <img src='@Url.Content("~/Content/Images/listview.png")' style="width:50px; height:50px;" />*@
</a>
</p>



    
		


		
<div class="card-columns">
    @for (int i = 0; i < Model.Count(); i++)
    {
 <div class="card col border-0" style="width: 18rem; ">
  <img src="@Model[i].Photo" class="card-img-top" alt="..." style="width:180px; height:150px; margin:10px;">
  <div class="card-body">
    <h5 class="card-title">@Model[i].Name</h5>
    <p class="card-text">
	@Model[i].Processor
	@Model[i].VideoCard
	@Model[i].RAM
	@Model[i].HDD
	@Model[i].Screen
	@Model[i].Description
	</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>             
                }
            
        </div>

















        @for(var i=0;i< @Model.Count();i++ )
        {
			
             
       
 if (i% 3 == 2)
        {
        <br />
}
}

		
	
	
	
	
        
  
